<html><head><meta charset="utf-8"><style>
.table4_4 table {
	
	margin:15px 0;
	border:0;
}
.table4_4 th {
	background-color:#C3E7FA;
	color:#000000
}
.table4_4,.table4_4 th,.table4_4 td {
	font-size:0.95em;
	
	padding:4px;
	border-collapse:collapse;
}
.table4_4 th,.table4_4 td {
	border: 1px solid #dcf1fc;
	border-width:1px 0 1px 0
}
.table4_4 tr {
	border: 1px solid #dcf1fc;
}
.table4_4 tr:nth-child(odd){
	background-color:#ebf7fd;
}
.table4_4 tr:nth-child(even){
	background-color:#fdfdfd;
}
</style></head>
<body><table class=table4_4 height=500 width=600>
<tr>
    <th colspan=3><font size=5>校友資訊交流版</font></th>
</tr>
<tr>
	<td>主題</td><td>可恩迪股份有限公司</td>
</tr>
<tr>
	<td>內容</td><td>求才項目<br>公司名稱：可恩迪股份有限公司<br>
    工作內容：成衣開發，報價，大貨跟催，與客戶及工廠協調<br>
    條件需求：<br>
    1.Minimum of 3-5 years solid merchandising experiences in <br>Knits/Woven apparel under a buying office/ trading company,<br>canwork independntly with Us....</td>
</tr>
	<tr>
	<td>提供者</td><td>吳美禎</td>
</tr>

</table></body></html>