<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML> 
<html lang="en">
<head>
<title>Fuel Serve an Industrial Category Flat bootstrap Responsive Website Template | About :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fuel Serve Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs  for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />  
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<!-- //fonts -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"> </script>	
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>	 
<script src="js/menu_jquery.js"></script> <!-- pop-up -->	
<!-- //js -->
</head>
<body>
	<!-- header-top -->
	<div class="header-top">
		<!-- container -->
		<div class="container">
			
			<div class="w3layouts-details">
				<ul>
					<li><a href="mailto:@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>alumni@mail.fju.edu.tw</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(02)-29052211</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //header-top -->
	<!-- header -->
	<div class="header">
		<!-- container -->
		<div class="container">
			<div class="header-bottom">
				<div class="w3ls-logo">
					<h1><a href="index.html">輔大校友資料庫</a></h1>
				</div>
				<div class="header-top-right"><p>校友搜尋(輸入學號或姓名)</P>
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search" required=""> 
						<input type="submit" value="">
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="top-nav">
				<nav class="navbar navbar-default">
					<div class="container">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="index.html">首頁</a></li>
							<li><a href="about.html">新增資料</a></li>
							<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">服務功能<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="hvr-bounce-to-bottom" href="探索專業人才1.html">探索專業人才</a></li>
                                    <li><a class="hvr-bounce-to-bottom" href="申請代辦校友證件.html">申請代辦校友證件</a></li>
									<li><a class="hvr-bounce-to-bottom" href="校園統計數據.html">校園統計數據</a></li>
								</ul>
							</li>	 
							
							<li><a href="常見問題.html">常見問題</a></li>
                            <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下載專區<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="hvr-bounce-to-bottom" href="輔仁大學校友資料庫使用單位申請表 .doc">使用單位申請表</a></li>
                                    
									<li><a class="hvr-bounce-to-bottom" href="校友資料庫使用手冊.PDF" target="_blank">校友資料庫校友資料庫使用手冊</a></li>
                                    <li><a class="hvr-bounce-to-bottom" href="校友資料庫系統_畢業生更新步驟.doc">畢業生離校更新步驟說明</a></li>
								</ul>
							</li>	 
                            
                            
							<li><a href="給本站打打氣.html">給本站打打氣</a></li>
                            <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相關連結<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="hvr-bounce-to-bottom" href="http://www.pro.fju.edu.tw/services03.asp"target="_blank">贊助母校</a></li>
                                    <li><a class="hvr-bounce-to-bottom" href="http://questionary.dsa.fju.edu.tw/gradsurvey/"target="_blank">畢業生流向專區</a></li>
                                    <li><a class="hvr-bounce-to-bottom" href="http://www.academic.fju.edu.tw/#&panel1-1" target="_blank">輔大教務處註冊組</a></li>
                                    </ul></li>
							
							<li></li>
                            <li >
								<div id="loginContainer"><a href="#" id="loginButton"><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</span></a>
									<div id="loginBox">      
										<form id="loginForm" action="#" method="post">
											<fieldset id="body">
												<fieldset>
                                                    <p><b><font color=#00CACA>管理者登入</font></b></p>
													<label for="email">帳號</label>
													<input type="text" name="email" id="email" required="">
												</fieldset>
												<fieldset>
													<label for="password">密碼</label>
													<input type="password" name="password" id="password" required="">
												</fieldset>
												<input type="submit" id="login" value="Sign in">
												<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
											</fieldset>
											<span><a href="#">Forgot your password?</a></span>
										</form>
									</div>
								</div>
							</li>
						</ul>	
						<div class="clearfix"> </div>
					</div>	
				</nav>	
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //header --> 
	<!-- about -->
	<div class="about">
		<div class="aboutw3-agileinfo">
			<!-- container -->
			<div class="container">
				<h2 class="agileits-title">輔仁大學校友資料庫</h2>
			</div>
			<!-- //container -->
		</div>
		
		<!-- about-bottom -->
		<div class="about-bottom">
			<!-- container -->
			
			<div class="container">
			<div><P>資料輸入請避免使用 ' , # < > 符號,建議使用 ，、( ) 符號代替</P>
   <P> 新增資料時，請先確定資料是否已存在(首頁可查詢)。待公共事務室確認無誤後，才能進入真實資料庫。(七個工作天以內處理完畢)</P>
</div>
			<div class="choose-button">
							<a href="as.html" target="abc">簡式欄位</a>
							<a href="ss.html" target="abc">全部欄位</a>
						</div>
				<div><p>&nbsp</p><iframe name="abc"src="as.html" width="100%" height=2050  frameborder=0 ></iframe></div>
			</div>
			<!-- container -->
		</div>
            </div>
		<!-- choose -->
                <div class="footer"> 
		<div class="container">
			<div class="footer-agileinfo">
				<div align=center>
					<div class="w3-agileitsicons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
							<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							<li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a></li>
						</ul> 
					</div>
					<div class="f-address" >
						
						<p class="text">系統開發單位：輔仁大學統計資訊學系</p>
                        <p class="text">系統維護單位：資訊系統</p>
                        <p class="text">系統管理單位：公共事務室 電話 29052211</p>
                        <p class="text">系統開發者：郭鎮源</p>
                        <p class="text">信箱：alumni@mail.fju.edu.tw</p>
					</div>
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div>
		
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script> 
	<!-- //smooth-scrolling-of-move-up -->
</body>
</html>